.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 50px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 300px;
  max-height: 600px !important;
  overflow: scroll;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.editor-main-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.text-editor-main-container {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.editor-area {
}

.editor-html {
  padding: 40px;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.post-details-body-area {
}
.post-details-body-area blockquote {
  background: #e8474715;
  border-left: 3px solid var(--secondary-color) !important;
  margin: 1.5em 10px;
  margin-left: 0;
  padding: 0.5em 10px;
  line-height: 1.3;
  font-style: italic;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-size: 18px;
  /* quotes: "\201C""\201D""\2018""\2019"; */
}

.post-details-body-area blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.post-details-body-area blockquote p {
  /* display: inline; */
}
.text-edito-block-item {
  font-size: 20px;
  /* border: 1px solid var(--primary-color); */
  border-radius: 3px;
  /* padding: 4px; */
}
.post-details-body-area pre,
code {
  background-color: #6d69693d;
}
.post-details-body-area p em {
  line-height: 1;
}
.post-details-body-area h1 {
  font-size: 30px;
  line-height: 1.1;
}
.post-details-body-area p {
  font-size: 16px;
}
.post-details-body-area .article-details-main-images-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-details-body-area
  .article-details-main-images-area
  .article-detail-images-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .post-details-body-area
    .article-details-main-images-area
    .article-detail-images-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .post-details-body-area h1 {
    font-size: 20px;
    line-height: 1.1;
  }
  .post-details-body-area p {
    font-size: 14px;
  }
}

.text-editor-main-container {
}

.text-editor-main-container .text-editor:focus-within {
  -webkit-box-shadow: 0 3px 10px 0 rgba(2, 117, 216, 0.2);
  box-shadow: 0 3px 10px 0 rgba(2, 117, 216, 0.2);
}

.text-editor-main-container .text-editor:focus-within .ql-toolbar.ql-snow {
  border: 1px solid #0275d8;
  border-bottom: 1px solid #d6d6d6;
}

.text-editor-main-container .text-editor:focus-within .ql-container.ql-snow {
  border: 1px solid #0275d8;
  border-top: 1px solid #d6d6d6;
}

.text-editor-main-container .text-editor .ql-toolbar.ql-snow {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.text-editor-main-container
  .text-editor
  .ql-toolbar.ql-snow
  .ql-font
  select
  option,
.text-editor-main-container
  .text-editor
  .ql-toolbar.ql-snow
  .ql-formats
  select
  option {
  color: #666666 !important;
}

.text-editor-main-container .text-editor .ql-toolbar.ql-snow .ql-picker-label {
  color: #666666 !important;
}

.text-editor-main-container
  .text-editor
  .ql-toolbar.ql-snow
  button
  svg
  .ql-stroke {
  stroke: #666666;
}

.text-editor-main-container .text-editor .ql-container.ql-snow {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.text-editor-main-container .text-editor .ql-container.ql-snow .ql-editor {
  min-height: 130px;
  font-size: 13px;
  color: #666666;
}

.css-1pahdxg-control {
  border-color: #0275d8;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(2, 117, 216, 0.2) !important;
  box-shadow: 0 3px 10px 0 rgba(2, 117, 216, 0.2) !important;
  border-color: #0275d8;
}
