.editor-main-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .editor {
  width: 100%;
  height: 300px;
}
.ck-editor__main {
  height: 300px;
}
.ck-content {
  height: 100%;
} */

@media (max-width: 768px) {
  .editor-main-area {
    padding: 0 10px !important;
  }
}
